/*
    colors:
    blue-greens: 1ABC9C, 16A085;
    greens: 2ECC71, 27AE60;
    blue: 3498DB, 2980B9;
    purple: 9B59B6, 8E44AD;
    dark blue: 34495E, 2C3E50;
    yellow: F1C40F, F39C12;
    orange: E67E22, D35400;
    red: E74C3C, C0392B;
    white: ECF0F1, BDC3C7;
    dark grey: 95A5A6, 7F8C8D;


*/

body{
    background-color: #16A085;
}

h1{
    color: #ECF0F1;
}

#header{
    height: 140px;
    margin-top: 20px;
}

.container{
}

#signup {
    border-radius: 8px 8px 6px 6px;
	background-color: #34495E;
    padding: 20px;
}

#about-us{
    padding: 20px;
    color: #ECF0F1;
}

.login-form:before{
    border-style: none;
}

.login-form .login-field{
    width: 96%;
}

#newsfeed {
    border-radius: 8px 8px 6px 6px;
    background-color: #1ABC9C;
    padding: 20px;
}

#entries {
    border-radius: 8px 8px 6px 6px;
    background-color: #ffffff;
}

.entry {
    height: 60px;
    padding-left: 25px;
    border-bottom: 1px solid #efefef;
    padding-top: 5px;   
}

.entry:hover {
    background-color: #efefef;

}

#entry-header {
    border-radius: 8px 8px 0px 0px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    padding-top: 10px;

}

.entry-top {       
    font-size: 16px;    
    color: #3498DB;
    float:left; 
    margin-left: 15px;
}

.entry-date {
    float: right;
    margin-right: 20px
}

.entry-content {
    padding-top: 5px;
}


.entry .fui-user {
    float:left;
    margin-left: 20px;
}

.entry .fui-mail {
    float:left;
    margin-left: 20px;
}

#footer{
    height: 200px;
}

.intro-header {
	padding-left: 30px;
	padding-right: 20px;
}

.intro-body {
	padding-left: 30px;
	padding-right: 30px;
    margin-bottom: 10px;
}

.intro-footer {
	padding-left: 30px;
    padding-right: 30px;
}

.intro-footer .btn{
    margin-bottom: 20px;
}

#verif-form {
    width: 230px;
}
#verif-btn {
    margin-left: 10px;
    width: 270px;
}