.span5 {
/*	background-color: gray;
*/}


.span7 {
/*	background-color: green;
*/	height: 900px;

}

.span12 {
	background-color: red;
	height: 60px;
}

#signup {
	border-radius: 3px;
	background-color: gray;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
}

#entry {
	background-color: blue;
	height: 80px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
}

#entry2 {
	background-color: #C2C2C2;
	height: 80px;
}



.intro-header {
	padding-left: 30px;
	padding-right: 20px;
}

.intro-body {
	padding-left: 30px;
	padding-right: 30px;
}

.intro-footer {
	padding: 20px;
	padding-bottom: 20px;
}