.span5 {
/*	background-color: gray;
*/}


.span7 {
/*	background-color: green;
*/	height: 900px;

}

.span12 {
	height: 60px;
}

#signup {
	border-radius: 3px;
	background-color: rgba(57,60,61,0.8);

	-moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
    -webkit-box-shadow: 0 0 5px; 
    border: 1px solid rgba(0,0,0,0.8);
    color: white;
    text-rendering: optimizeLegibility;
    font-family: "Helvetica Neue", Helvetica;
	 

}

#entry {

	height: 80px;
}

#entry2 {
	background-color: #C2C2C2;
	height: 80px;
	padding-left: 30px;
}



.intro-header {
	padding-left: 30px;
	padding-right: 20px;
}

.intro-body {
	padding-left: 30px;
	padding-right: 30px;
}

.intro-footer {
	padding: 20px;
	padding-bottom: 20px;
}