<!DOCTYPE html>
<html>
<head>
	<title> Claremont SMS </title>
	<link href="{{ url_for('templates/bootstrap/css', filename='bootstrap.min.css')}}" rel="stylesheet" media="screen">
	<link href="{{ url_for('templates', filename='custom.css')}}" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container">
		<div class="row">
		<h1>Welcome to Claremont SMS!</h1>
		</div>
	</div>
		<div class="container">
		<div class="row">
			<div class="span4">
				<form action="">
					<fieldset id="signup">
						<label>Your Name</label>
						<input type="text" placeholder="First Last">
						<label>Your Phone Number</label>
						<div class="input-prepend">
  							<span class="add-on">+</span>
  							<input class="small" id="appendedPrependedInput" type="text" placeholder="1-555-555-555">
  						</div>
  						</br>
						<button type="submit" class="btn btn-primary">Create Account</button>
					</fieldset>
				</form>
			</div>
			<div class="span8">
				<h2>entries</h2>

			</div>
		</div>
	</div>
	<script src="css/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
