<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/Flat-UI/flat-ui.css" rel="stylesheet">
	<link href="../static/css/custom.css" rel="stylesheet">
</head>
<body>
	<div class="container" id="header">
		<h1>Claremont SMS</h1>
		<h3> Text your friends anonymously </h2>
		
	</div>
	<div class="container">
		<div class="row">
			<div class="span5">
				<div id="signup">
					<div class="login-form">
						<form name="signup-form" id="signup-form" method="post">
							<div class="control-group">
								<input type="text" class="login-field" value placeholder="full name" name="user">
							</div>
							<div class="control-group">
								<input type="text" class="login-field" value placeholder="phone number" name="number">
							</div>
						</form>
				  		<button type="button" class="btn btn-primary btn-large btn-block">Create Account</button>

			<!-- 	  		<form action="" method="post" name="signup">
		
								{{form.hidden_tag()}}
								
									<p>
										{{form.user(class="login-field", placeholder="full name", id="login-name")}}
									</p>
								
								
									<p>
										{{form.number(class="login-field", placeholder="phone number", id="login-name")}}
									</p>
								</div>

							  	<p><input type="submit" value="Create Account" class="btn btn-primary btn-large btn-block" ></p>

						</form> -->

					</div>
				</div>
			</div>
			<div class="span7" id="newsfeed">
				<div id="entries">

					<div class="entry" id="entry-header">
						<strong>Feed</strong>
					</div>

					{% for post in posts %}
						
						<div class="entry">
							<div id="entry-tag">
								<strong>{{post.to_name}}: </strong>
							</div>
							<div id="entry-content">
								{{post.message}}
							</div>
						</div>
						
					{% endfor %}
	
				</div>
			</div> 
		</div>
	</div>

	</div>

	

	<div class="container" id="footer">
		<div class="row">
			<div class="span12"></div>
		</div>
	</div>


		<div id="intro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="introLabel" aria-hidden="true"> 
			<div class="intro-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h3>Welcome to Claremont SMS!</h3>
			</div>
			<div class="intro-body">
				<p>You should receive an SMS confirmation shortly. This is a quick introduction to get you started!</p> <p>Send a text to your friend by providing their first and last name followed by a colon and the message you would like to send. For example:</p>
				<div class="well well-small">
					<p>Sean McQueen: You are such a dream boat</p>
				</div>
				<p>If your friend has an account with Claremont SMS, they will receive an anonymous text to their phone.</p><p>When you receive a text, it might look something like this:</p>
				<div class="well well-small">
					<p>Hey cutie patootie ;) (27281)</p>
				</div>
				<p>You have the opportunity to guess who sent you that text by responding with the five-digit ID number that follows your text. For example:<p>
				<div class="well well-small">
					<p>27281: Evan Casey</p>
				</div>
				<p>If you guess correctly, we'll let you know!</p><p>Good luck out there!</p>

			</div>
			<div class="intro-footer">
				<button class="btn pull-right btn-success" data-dismiss="modal" aria-hidden="true">Thanks!</button>
			</div>
		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="../static/js/Flat-UI-bootstrap/bootstrap.min.js"></script>

<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(function(){

    $('button').on('click', function(e){
        e.preventDefault();

        $.ajax({
			type: "POST",
			dataType: "json",
			url: $SCRIPT_ROOT + '/signup',
			data: $('#signup-form').serialize(),
			success: function (data) {
				console.log(data.user);
				console.log(data.number);
			},  			
		});

        $("#intro").modal("show");
    });


});

</script>


</body>
</html>
